In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import create_engine, inspect

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///./Resources/hawaii.sqlite")

In [5]:
inspector = inspect(engine)

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [10]:
##Collect the names of tables within the db

inspector.get_table_names()

['measurement', 'station']

In [11]:
#Using inspector to print the colum names within the "measurement" table and its colums

columns = inspector.get_columns('measurement')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [12]:
#Using inspector to print the colum names within the "station" table and its colums

columns = inspector.get_columns('station')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

# Exploratory Precipitation Analysis

In [13]:
# Find the most recent date in the data set

recent_date = session.query(Measurement).order_by(Measurement.date).first()
print(recent_date.date)

2010-01-01

In [25]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

results = session.query(Measurement.date, Measurement.prcp).\
    filter(Measurement.date >= '2010-01-01').filter(Measurement.prcp).all()


# Calculate the date one year from the last date in data set.

session.query(Measurement.date).order_by(Measurement.date.desc()).first()

# Perform a query to retrieve the data and precipitation scores

results = session.query(Measurement.date, Measurement.prcp).\
    filter(Measurement.date).filter(Measurement.prcp).all()
results


# Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(results, columns=['date','prcp'])
df.set_index('date', inplace=True, )
#df.head()

# Sort the dataframe by date

df.sort_values(by=['date'])

# Use Pandas Plotting with Matplotlib to plot the data

df.plot(x ='date', y='prcp', kind = 'bar')
#plt.show()

IndentationError: unexpected indent (<ipython-input-25-de39e0daebe7>, line 15)

In [27]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

results = session.query(Measurement.date, Measurement.prcp).\
    filter(Measurement.date >= '2010-01-01').filter(Measurement.prcp).all()

In [28]:
# Calculate the date one year from the last date in data set.

session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23')

In [30]:
# Perform a query to retrieve the data and precipitation scores

results = session.query(Measurement.date, Measurement.prcp).\
    filter(Measurement.date).filter(Measurement.prcp).all()

In [32]:
# Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(results, columns=['date','prcp'])
df.set_index('date', inplace=True, )

In [33]:
# Sort the dataframe by date

df.sort_values(by=['date'])

            prcp
date
2010-01-01  0.08
2010-01-01  0.15
2010-01-01  0.21
2010-01-01  0.05
2010-01-01  0.14
...          ...
2017-08-21  0.02
2017-08-21  0.56
2017-08-22  0.50
2017-08-23  0.08
2017-08-23  0.45

[9918 rows x 1 columns]

In [36]:
# Use Pandas Plotting with Matplotlib to plot the data

In [37]:
# Use Pandas to calcualte the summary statistics for the precipitation data

df.describe()

              prcp
count  9918.000000
mean      0.293217
std       0.601825
min       0.010000
25%       0.030000
50%       0.090000
75%       0.290000
max      11.530000

# Exploratory Station Analysis

In [98]:
# Design a query to calculate the total number stations in the dataset


session.query(Measurement.station).count()

19550

In [107]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

from sqlalchemy import distinct

session.query(func.count(Measurement.station)).group_by(Measurement.station).order_by(Measurement.station.desc()).a()

[(19550)]

In [101]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()